h3,h4,p{
    margin-bottom: 0px;
}

.title{
    text-align: center;
    margin: 0px;
    margin-bottom: 1rem;
}

.container {
    max-width: 800px;
    min-height: 100vh;
    margin: 10px auto;
    padding: 10px 30px;
    border-radius: 5px;
}

.inputDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0px;
}

input{
    width: 100%;
    height: 30px;
    padding: 10px;
}

.articleItem{
    margin: 7px 0px;
    padding: 7px;
    border-radius: 3px;
    background-color: white
}

.noResult{
    margin: 8rem auto;
    display: grid;
    place-items: center;
}

.noResult h3{
    color: gray;
}


@media only screen and (max-width: 600px){
    .container {
    padding: 1rem;
}
}
@media only screen and (max-width: 400px){
	.container{
    padding: 0.5rem;
}

}










