h3,h4,p{
    margin-bottom: 0px;
}

.title{
    text-align: center;
    margin: 0px;
    margin-bottom: 1rem;
}

.container {
    max-width: 800px;
    min-height: 100vh;
    margin: 10px auto;
    padding: 10px 30px;
    border-radius: 5px;
}

.headerNav{
    display: flex;
    align-items: center;
    margin: 2rem 0rem;
}

.headerContent{
    display: grid;
    place-items: center;
    flex: 9;
}

.icon{
    font-size: 30px;
    margin-top: -30px;
    cursor: pointer;
}

.point{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px
}



.comment{
    background-color: white;
    margin: 10px;
    padding: 5px;
    
}




@media only screen and (max-width: 600px){
    .container {
    padding: 1rem;
}
}
@media only screen and (max-width: 400px){
	.container{
    padding: 0.5rem;
}
.wrapper {
    grid-template-columns: repeat(auto-fit, minmax(280px, 2fr));
}

}










